doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title Document
    body 
        nav.nav-bar 
            ul
                li
                    a(href="/home") Home
                li
                    a(href="/about") About
                li
                    a(href="/api/faction/create") Create a Faction
                li
                    a(href="/api/factions") Factions
    block content